{% load static %}

<div class="pt-3 text-center pb-3" style="background-color : #cff0da">

        <h6 class="fw-bold">
            <a href="#">
                <img src="{% static 'petmgapp/img/logo/main_dog.png' %}" alt="" width="25" height="25" class="d-inline-block align-text-center">
            </a>   
            멍멍수호대
        </h6>

            Copyright ⓒ  <img src="{% static 'petmgapp/img/logo/kepco.png' %}" alt="" width="25" height="25" class="d-inline-block align-text-center">
                        KEPCO_Digital_Bootcamp1기 Class B 3조팀 멍멍수호대. All Rights Reserved.
                        
</div>
