{% load static %}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- 반응형웹 적용을 위한 meta 정의 -->
<!-- 스마트폰, 태블릿, pc 등 화면 사이즈에 대응 -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Async Hide for Optimize -->
<style>

.async-hide { opacity: 0 !important} 

</style>

<title>::: 잊지마 멍멍 :::</title>

<link href="{% static 'petmgapp/img/logo/main_dog.png' %}" rel="shortcut icon"/>

<!-- 폰트 됨 -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">